/* raleway-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-500 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("/sass/uti/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("/sass/uti/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-ext_cyrillic-500.woff") format("woff"), url("/sass/uti/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("/sass/uti/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-500.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("/sass/utils/fonts/raleway-v28-latin_cyrillic-ext_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/sass/utils/fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/sass/utils/fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("/sass/utils/fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("/sass/utils/fonts/roboto-v30-latin-regular.woff") format("woff"), url("/sass/utils/fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("/sass/utils/fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/sass/utils/fonts/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("/sass/utils/fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("/sass/utils/fonts/roboto-v30-latin-500.woff2") format("woff2"), url("/sass/utils/fonts/roboto-v30-latin-500.woff") format("woff"), url("/sass/utils/fonts/roboto-v30-latin-500.ttf") format("truetype"), url("/sass/utils/fonts/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/sass/utils/fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("/sass/utils/fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("/sass/utils/fonts/roboto-v30-latin-700.woff2") format("woff2"), url("/sass/utils/fonts/roboto-v30-latin-700.woff") format("woff"), url("/sass/utils/fonts/roboto-v30-latin-700.ttf") format("truetype"), url("/sass/utils/fonts/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("/sass/utils/fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("/sass/utils/fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("/sass/utils/fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("/sass/utils/fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff") format("woff"), url("/sass/utils/fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.ttf") format("truetype"), url("/sass/utils/fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-regular.woff") format("woff"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-500.woff") format("woff"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-700.woff") format("woff"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("/sass/utils/fonts/roboto-v30-cyrillic-ext_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card {
  width: 370px;
}
.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.card__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__description {
  position: relative;
  overflow: hidden;
}
.card__text-wrap {
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  position: absolute;
  top: 100%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .card__text-wrap, .card:focus-within .card__text-wrap {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.card__text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}
.card__meta {
  padding: 20px 24px;
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
.card__name {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.card__type {
  font-size: 16px;
  line-height: 1.875;
}

.checkbox {
  position: relative;
}
.checkbox__icon1 {
  fill: transparent;
  position: absolute;
  z-index: 1;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked ~ .checkbox__icon1 {
  fill: #fff;
}
.checkbox__icon2 {
  fill: transparent;
  position: absolute;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked ~ .checkbox__icon2 {
  fill: var(--accent-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.clients__item {
  width: 170px;
  height: 92px;
}
.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}
.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.contact {
  line-height: 16.41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  gap: 50px;
}
.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}
.contact__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: currentColor;
  margin-right: 10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-contact {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  display: grid;
  gap: 9px;
}
.footer-contact__item {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__item:hover, .footer-contact__item:focus-within {
  color: var(--accent-color);
}
.footer-contact__adress {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__adress:hover, .footer-contact__adress:focus {
  color: var(--accent-color);
}

.footer-form__section {
  margin-left: 120px;
  position: absolute;
  right: 15px;
  margin-top: 10px;
}
.footer-form__text {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form__email-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer-form__email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
}
.footer-form__button {
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: var(--accent-color);
}
.footer-form__button:hover, .footer-form__button:focus {
  background-color: #188ce8;
}

.footer-join__section {
  margin-top: 10px;
  margin-left: 70px;
}
.footer-join__text {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.footer-join__icon-wrap {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join__icon-wrap:hover, .footer-join__icon-wrap:focus {
  background-color: var(--accent-color);
}
.footer-join__icon {
  fill: #ffffff;
}

.footer__section {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f303a;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero {
  background-color: #2f303a;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-image.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 669px;
  margin: 0 auto 30px;
}
.hero__button {
  display: block;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  text-align: center;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 10px 32px;
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  padding: 24px 0;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}
.logo__wrap {
  margin: 24px 94px 24px 0;
}
.logo__header {
  color: #000000;
}

.modal-form__title {
  color: #212121;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
}
.modal-form__contact {
  margin-top: 12px;
}
.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  cursor: pointer;
}
.modal-form__input-wrap {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 14px 35px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border: 1px solid var(--accent-color);
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  cursor: text;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}
.modal-form__textarea:focus {
  border: 1px solid var(--accent-color);
}
.modal-form__terms-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}
.modal-form__terms-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}
.modal-form__terms-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal__button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__icon-close {
  fill: #000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover .modal__icon-close, .modal__button-close:focus .modal__icon-close {
  fill: var(--accent-color);
}
.modal__button {
  display: block;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 52px;
  border: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}
.modal__button:hover, .modal__button:focus {
  background-color: #188ce8;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  color: var(--title-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  gap: 50px;
}
.nav__item {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item:hover, .nav__item:focus-within {
  color: var(--accent-color);
}
.nav__item--current {
  color: var(--accent-color);
  position: relative;
  padding-bottom: 32px;
}
.nav__item--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -1px;
  left: 0;
}

.oportunities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.oportunities__item {
  width: 270px;
  line-height: 1.71;
}
.oportunities__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.oportunities__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-work__section {
  padding: 0 0 94px;
}
.our-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.our-work__item {
  max-width: 370px;
  position: relative;
}
.our-work__wrap {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our-work__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 1.1428571429;
}

.portfolio__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio__button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  padding: 6px 22px;
  text-align: center;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__button--current {
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  padding: 94px 0;
}

.team__section {
  background-color: #f5f4fa;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team__image {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__meta {
  padding: 30px;
  background-color: #ffffff;
  width: 270px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: transparent solid 1px;
}
.team__name {
  color: var(--title-text-color);
  min-width: 145px;
  font-size: 16px;
  margin-bottom: 10px;
}
.team__position {
  min-width: 147px;
}
.team__icon-list {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.team__icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon-link:hover, .team__icon-link:focus {
  background-color: var(--accent-color);
}
.team__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon-link:hover .team__icon, .team__icon-link:focus .team__icon {
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */