/* raleway-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./raleway-v28-latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./raleway-v28-latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./raleway-v28-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./raleway-v28-latin_cyrillic-ext_cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./raleway-v28-latin_cyrillic-ext_cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./raleway-v28-latin_cyrillic-ext_cyrillic-regular.svg#Raleway')
      format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('./raleway-v28-latin_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./raleway-v28-latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./raleway-v28-latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/raleway-v28-latin_cyrillic-ext_cyrillic-500.woff')
      format('woff'),
    /* Modern Browsers */ url('./raleway-v28-latin_cyrillic-ext_cyrillic-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./raleway-v28-latin_cyrillic-ext_cyrillic-500.svg#Raleway')
      format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('./raleway-v28-latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./raleway-v28-latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./raleway-v28-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./raleway-v28-latin_cyrillic-ext_cyrillic-700.woff')
      format('woff'),
    /* Modern Browsers */ url('./raleway-v28-latin_cyrillic-ext_cyrillic-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./raleway-v28-latin_cyrillic-ext_cyrillic-700.svg#Raleway')
      format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('./roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./roboto-v30-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./roboto-v30-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./roboto-v30-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./roboto-v30-cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: url('./roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./roboto-v30-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./roboto-v30-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('./roboto-v30-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), url('./roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./roboto-v30-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./roboto-v30-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('./roboto-v30-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('./roboto-v30-latin_cyrillic-ext_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./roboto-v30-latin_cyrillic-ext_cyrillic-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./roboto-v30-latin_cyrillic-ext_cyrillic-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./roboto-v30-latin_cyrillic-ext_cyrillic-900.woff')
      format('woff'),
    /* Modern Browsers */ url('./roboto-v30-latin_cyrillic-ext_cyrillic-900.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./roboto-v30-latin_cyrillic-ext_cyrillic-900.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-regular - cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./roboto-v30-cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./roboto-v30-cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./roboto-v30-cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./roboto-v30-cyrillic-ext_cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./roboto-v30-cyrillic-ext_cyrillic-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./roboto-v30-cyrillic-ext_cyrillic-regular.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-500 - cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./roboto-v30-cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./roboto-v30-cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./roboto-v30-cyrillic-ext_cyrillic-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./roboto-v30-cyrillic-ext_cyrillic-500.woff') format('woff'),
    /* Modern Browsers */ url('./roboto-v30-cyrillic-ext_cyrillic-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./roboto-v30-cyrillic-ext_cyrillic-500.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-700 - cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./roboto-v30-cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./roboto-v30-cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./roboto-v30-cyrillic-ext_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./roboto-v30-cyrillic-ext_cyrillic-700.woff') format('woff'),
    /* Modern Browsers */ url('./roboto-v30-cyrillic-ext_cyrillic-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./roboto-v30-cyrillic-ext_cyrillic-700.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
